include ../components/data.pug

mixin createMenu(menu, active)
    each value, key in menu
        if active == key
            a.active(href= value)= key
        else
            a(href= value)= key

mixin createMenuCar(menu, active)
    each value, key in menu
        a(href= value)= key
        if value == 'index.html'
            a.active(href= '#')= active

mixin addSection(item)
    h3= item.header
        img(src= require("../images/" + item.image))
        p= item.text
            a(href="#") &hellip;

mixin addTableRow(someRow)
     tr
        - const columns = Object.values(someRow)
        each column in columns
            td= column

mixin addTable(tableHead, tableBody)
    table(border="2", cellpadding="4", cellspacing="0")
        thead
            tr
                - const values = Object.values(tableHead)
                each val in values
                    th= val
        tbody
            each row in tableBody
                +addTableRow(row)

